body {
  background-color: #33CCFF;
}

h1 {
  text-align: center;
  border-radius: 10px;
  background-color: #00FFCC;
  border: 10px solid #008B8B;
  padding: 5px;
}

ul {
  float: left;
  border-top: 2px solid #003300;
  border-bottom: 2px solid #003300;
  padding: 5px;
}

p {
  float: right;
  width: 500px;
  font-style: normal;
}

.contact {
  font-style: italic;
  font-weight: 600;
}
